body {
  margin-top: 0px;
}

.equipment-list {
  border: 1px #19a8ff solid;
  border-radius: 6px;
  padding: 10px;
}

.maintenance-list {
  border: 1px #19a8ff solid;
  border-radius: 6px;
  padding: 10px;
}


.equipment-item {
  padding: 8px;
  border: 1px rgb(203, 203, 203) solid;
  border-radius: 6px;
  box-shadow: 5px 2px 5px rgb(203, 203, 203);
}

.maintenance-item {
  padding: 8px;
  border: 1px rgb(203, 203, 203) solid;
  border-radius: 6px;
  box-shadow: 5px 2px 5px rgb(203, 203, 203);
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.view {
  margin-top: 8rem;
}

.card-img-container {
  height: 15rem;
  width: 18rem;
}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.equipment-card-actions {
  display: flex;
  right: 1rem;
  justify-content: space-between;
  bottom: 0;
}

.bi {
  font-size: 1.2rem;
  text-align: center;
}

#main-content {
  padding-top: 5px;
  margin-left: 250px;
}

nav.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}

.upload-btn {
  background: none;  /* Remove fundo */
  border: none;      /* Remove borda */
  padding: 0;        /* Remove espaço extra */
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;  /* Ajuste conforme necessário */
  height: 40px; /* Ajuste conforme necessário */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Mantém o cursor como botão */
}

.upload-btn i {
  font-size: 1.2rem; /* Ajuste conforme necessário */
  pointer-events: none; /* Faz com que o clique vá para o botão e não para o ícone */
}
