body {
  margin-top: 0px;
}

.equipment-list {
  border: 1px #19a8ff solid;
  border-radius: 6px;
  padding: 10px;
  min-height: 80%;
}

.equipment-item {
  padding: 10px;
  border: 1px rgb(203, 203, 203) solid;
  border-radius: 6px;
  box-shadow: 5px 2px 5px rgb(203, 203, 203);
}

#main-content {
  padding-top: 5px;
  margin-left: 250px;
}

nav.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}

.sidebar {
  width: 250px;
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 315px;
  height: 315px;
}
